<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Ba Dum Tss!
	link(rel="stylesheet" href="./stylesheets/index.css")
body
	.dr-container
		include ./templates/drums.pug
	script(src="./javascripts/index.js")